{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
   <h5> ({{ posts|length }})</h5>
   <hr>
   {% if posts %}
        <table>
           <tr>
               <td>Название статьи</td>
               <td>Дата публикаци</td>
               <td>Текст</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.post_title }}</td>
               <td>{{ post.release_datetime }}</td>
               <td>{{ post.post_text }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}